<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.mores.ufresh.DAO.AfterSalesDao">

    <resultMap id="aftersalesResultMap" type="top.mores.ufresh.POJO.After_sales">
        <id column="after_sales_id" property="after_sales_id"/>
        <result column="order_id" property="order_id"/>
        <result column="service_type" property="service_type"/>
        <result column="reasons" property="reasons"/>
        <result column="image" property="image"/>
        <result column="progress" property="progress"/>
    </resultMap>

    <select id="getAfterSalesList" resultMap="aftersalesResultMap">
        SELECT order_uuid,service_type,reasons,image,progress from after_sales
    </select>

    <select id="getAfterSalesCommodity">
        SELECT DISTINCT
        oi.quantity,
        oi.spec,
        oi.commodity_id,
        cs.price,
        c.commodity_name,
        c.image
        FROM order_items oi
        LEFT JOIN commodity_specs cs ON oi.spec = cs.spec AND oi.commodity_id = cs.commodity_id
        LEFT JOIN commodity c ON oi.commodity_id = c.commodity_id
        WHERE oi.order_uuid = #{order_uuid}
    </select>

    <insert id="insertAfterSalesImage">
        insert into after_sales (order_uuid,service_type,reasons,image,progress)
        values (#{order_uuid},#{service_type},#{reasons},#{image},#{progress})
    </insert>

    <select id="selectAfterSalesByAdmin">
        select order_uuid,service_type,reasons,image,progress from after_sales
        <where>
            <if test="order_uuid!=null and order_uuid!=''">
                order_uuid=#{order_uuid}
            </if>
            <if test="service_type!=null and service_type!=''">
                and service_type = #{service_type}
            </if>
            <if test="progress!=null and progress!=''">
                and progress = #{progress}
            </if>
        </where>
    </select>

    <update id="updateAfterSalesStatus">
        update after_sales set progress = #{progress} where order_uuid = #{order_uuid}
    </update>
</mapper>