<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.mores.ufresh.DAO.AfterSalesDao">

    <resultMap id="aftersalesResultMap" type="top.mores.ufresh.POJO.After_sales">
        <id column="after_sales_id" property="after_sales_id"/>
        <result column="order_id" property="order_id"/>
        <result column="service_type" property="service_type"/>
        <result column="reasons" property="reasons"/>
        <result column="image" property="image"/>
        <result column="progress" property="progress"/>
    </resultMap>

    <select id="getAfterSalesList" resultMap="aftersalesResultMap">
        SELECT
        a.after_sales_id,
        a.order_id,
        a.service_type,
        a.reasons,
        a.image,
        a.progress
        FROM
        after_sales a
        JOIN
        orders o
        ON
        a.order_id = o.order_id
    </select>

    <select id="getAfterSalesCommodity">
        SELECT DISTINCT
        oi.quantity,
        oi.spec,
        oi.commodity_id,
        cs.price,
        c.commodity_name,
        c.image
        FROM order_items oi
        LEFT JOIN commodity_specs cs ON oi.spec = cs.spec AND oi.commodity_id = cs.commodity_id
        LEFT JOIN commodity c ON oi.commodity_id = c.commodity_id
        WHERE oi.order_uuid = #{order_uuid}
    </select>

    <insert id="insertAfterSalesImage">
        insert into after_sales (order_uuid,service_type,reasons,image,progress)
        values (#{order_uuid},#{service_type},#{reasons},#{image},#{progress})
    </insert>
</mapper>