<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.mores.ufresh.DAO.CartItemsDao">

    <resultMap id="CartItemsResultMap" type="top.mores.ufresh.POJO.Cart_items">
        <id column="cart_item_id" property="cart_item_id"/>
        <result column="user_id" property="user_id"/>
        <result column="commodity_id" property="commodity_id"/>
        <result column="amount" property="amount"/>
        <result column="added_price" property="added_price"/>
        <result column="spec_id" property="spec_id"/>
        <result column="added_time" property="added_time"/>
    </resultMap>

    <select id="getCommodityIDFromUserCart">
        select commodity_id,spec_id from cart_items where user_id =#{user_id} and commodity_id=#{commodity_id}
    </select>

    <insert id="addCommodityToCart">
        insert into cart_items(user_id,commodity_id,amount,added_price,spec_id,added_time)
        values (#{user_id},#{commodity_id},#{amount},#{added_price},#{spec_id},#{added_time})
    </insert>

    <update id="addCommodityAmount">
        update cart_items
        set amount = amount + #{amount}
        where user_id = #{user_id} and commodity_id = #{commodity_id} and spec_id = #{spec_id}
    </update>

    <select id="getUserCart">
        SELECT
        c.user_id,
        c.cart_item_id,
        c.commodity_id,
        co.commodity_name AS name,
        co.image AS image,
        cs.price AS added_price,
        co.tag AS tag,
        c.spec_id,
        cs.spec AS spec,
        c.amount,
        c.added_price,
        c.added_time
        FROM
        cart_items c
        LEFT JOIN
        commodity co ON c.commodity_id = co.commodity_id
        LEFT JOIN
        commodity_specs cs ON c.spec_id = cs.id
        WHERE
        c.user_id = #{user_id}
    </select>

    <delete id="removeCommoditiesFromCart">
        DELETE FROM cart_items WHERE cart_item_id IN
        <foreach collection="cartItemIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectCartItemsByName">
        SELECT
        c.user_id,
        c.cart_item_id,
        c.commodity_id,
        co.image AS image,
        cs.price AS added_price,
        co.tag AS tag,
        c.spec_id,
        cs.spec AS spec,
        c.amount,
        c.added_time
        FROM
        cart_items c
        LEFT JOIN
        commodity co ON c.commodity_id = co.commodity_id
        LEFT JOIN
        commodity_specs cs ON c.spec_id = cs.id
        WHERE
        c.user_id = #{user_id}
        AND
        co.commodity_name like CONCAT('%', #{name}, '%')
    </select>
</mapper>