<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.mores.ufresh.DAO.CommoditySpecsDao">

    <resultMap id="CommoditySpecsResultMap" type="top.mores.ufresh.POJO.Commodity_specs">
        <id column="id" property="id"/>
        <result column="commodity_id" property="commodity_id"/>
        <result column="price" property="price"/>
        <result column="spec" property="spec"/>
    </resultMap>

    <select id="getSpecByCommodityID" resultMap="CommoditySpecsResultMap">
        select id,spec,price from commodity_specs where commodity_id = #{commodityID}
    </select>
</mapper>