<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.mores.ufresh.DAO.CommodityDao">

    <resultMap id="commodityResultMap" type="top.mores.ufresh.POJO.Commodity">
        <id column="commodity_id" property="commodity_id"/>
        <result column="commodity_name" property="commodity_name"/>
        <result column="type" property="type"/>
        <result column="price" property="price"/>
        <result column="inventory" property="inventory"/>
        <result column="image" property="image"/>
        <result column="support" property="support"/>
        <result column="mfd" property="mfd"/>
        <result column="exp" property="exp"/>
        <result column="status" property="status"/>
        <result column="tag" property="tag"/>
    </resultMap>

    <select id="getCommodityByName" resultMap="commodityResultMap">
        select * from commodity where commodity_name = #{commodity_name}
    </select>

    <insert id="addCommodity" parameterType="top.mores.ufresh.POJO.Commodity" useGeneratedKeys="true" keyProperty="commodity_id">
        INSERT INTO commodity
        (commodity_name, type, price, inventory, description, image, support, mfd, exp)
        VALUES
        (#{commodity_name}, #{type}, #{price}, #{inventory}, #{description}, #{image}, #{support}, #{mfd}, #{exp});
    </insert>

    <select id="fetchCommodity" resultMap="commodityResultMap">
        select commodity_id,commodity_name,type,price,inventory,description,support,mfd,exp,status,tag,image from commodity
    </select>

    <select id="fetchUserIndexCommodity" resultMap="commodityResultMap">
        select commodity_name,price,image,tag,commodity_id from commodity where status=#{status}
    </select>

    <select id="selectCommodity" resultMap="commodityResultMap">
        select commodity_name, type, price, inventory, description, image, support, mfd, exp, status, tag,commodity_id
        from commodity
        <where>
            <trim prefixOverrides="and">
                <if test="commodity_name != null and commodity_name != ''">
                    commodity_name like CONCAT('%', #{commodity_name}, '%')
                </if>
                <if test="support != null and support != ''">
                    and support = #{support}
                </if>
                <if test="type != null and type != ''">
                    and type = #{type}
                </if>
                <if test="mfd != null">
                    and mfd = #{mfd}
                </if>
                <if test="exp != null">
                    and exp = #{exp}
                </if>
            </trim>
        </where>
    </select>
    
    <select id="getCommodityByID" resultMap="commodityResultMap">
        select commodity_name,type,price,description,image,tag from commodity where commodity_id = #{id}
    </select>

    <update id="editCommodity">
        update commodity
        <set>
            <if test="commodity_name != null">commodity_name=#{commodity_name},</if>
            <if test="type != null">type=#{type},</if>
            <if test="price != null">price=#{price},</if>
            <if test="inventory != null">inventory=#{inventory},</if>
            <if test="description != null">description=#{description},</if>
            <if test="support != null">support=#{support},</if>
            <if test="mfd != null">mfd=#{mfd},</if>
            <if test="exp != null">exp=#{exp},</if>
            <if test="status != null">status=#{status},</if>
            <if test="tag != null">tag=#{tag},</if>
        </set>
        where commodity_id=#{commodity_id}
    </update>

    <update id="editCommodityImage">

    </update>
</mapper>