<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.mores.ufresh.DAO.CommodityDao">

    <resultMap id="commodityResultMap" type="top.mores.ufresh.POJO.Commodity">
        <id column="commodity_id" property="commodity_id"/>
        <result column="commodity_name" property="commodity_name"/>
        <result column="type" property="type"/>
        <result column="price" property="price"/>
        <result column="inventory" property="inventory"/>
    </resultMap>

    <select id="getCommodityByName" resultMap="commodityResultMap">
        select * from commodity where commodity_name = #{commodity_name}
    </select>

    <insert id="addCommodity" parameterType="top.mores.ufresh.POJO.Commodity" useGeneratedKeys="true" keyProperty="commodity_id">
        INSERT INTO commodity
        (commodity_name, type, price, inventory, description, image, support, mfd, exp)
        VALUES
        (#{commodity_name}, #{type}, #{price}, #{inventory}, #{description}, #{image}, #{support}, #{mfd}, #{exp});
    </insert>

    <select id="fetchCommodity" resultMap="commodityResultMap">
        select commodity_id,commodity_name,type,price,inventory,description,support,mfd,exp from commodity
    </select>
</mapper>