<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.mores.ufresh.DAO.MailVerifyDao">
    <select id="getVerifyCode" resultType="java.lang.String">
        select code from mail_verify where email = #{email}
    </select>

    <insert id="saveMailCode">
        insert into mail_verify (email,code) values (#{email},#{code})
    </insert>

    <select id="getMail" resultType="java.lang.String">
        select email from mail_verify where email = #{email}
    </select>

    <update id="saveNewCode">
        UPDATE mail_verify SET code = #{code} WHERE email = #{email}
    </update>

    <update id="saveTime">
        UPDATE mail_verify SET time = #{time} WHERE code = #{code}
    </update>

    <select id="getTime" resultType="java.lang.Long">
        select time from mail_verify where code = #{code}
    </select>

    <update id="setNull">
        UPDATE mail_verify SET code = NULL WHERE code = #{code}
    </update>
</mapper>