<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.mores.ufresh.DAO.NotificationDao">

    <resultMap id="notificationMap" type="top.mores.ufresh.POJO.Notification">
        <id column="id" property="id"/>
        <result column="user_id" property="user_id"/>
        <result column="notification_title" property="notification_title"/>
        <result column="notification_content" property="notification_content"/>
        <result column="type" property="type"/>
        <result column="enable_read" property="enable_read"/>
        <result column="time" property="time"/>
    </resultMap>

    <select id="fetchUserRead">
        select id from notification
        where enable_read = #{enable_read} and user_id=#{user_id}
    </select>

    <insert id="addNewNotification">
        insert into notification (user_id,notification_title,notification_content,type,time)
        values (#{user_id},#{notification_title},#{notification_content},#{type},#{time})
    </insert>

    <select id="fetchUserNotification">
        select id,notification_title,enable_read,type,time,notification_content
        from notification where user_id=#{user_id}
    </select>
</mapper>