<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.mores.ufresh.DAO.OrdersDao">

    <resultMap id="orderResultMap" type="top.mores.ufresh.POJO.Orders">
        <id column="order_id" property="order_id"/>
        <result column="user_id" property="user_id"/>
        <result column="total_price" property="total_price"/>
        <result column="status" property="status"/>
        <result column="created_time" property="created_time"/>
        <result column="username" property="username"/>
    </resultMap>

    <select id="getOrdersList" resultMap="orderResultMap">
        SELECT
        o.order_id,
        o.user_id,
        o.total_price,
        o.status,
        o.created_time,
        u.user_name AS user_name
        FROM
        orders o
        JOIN
        user u
        ON
        o.user_id = u.user_id
    </select>

    <select id="getOrdersByConditions" resultMap="orderResultMap">
        SELECT
        o.order_id,
        u.user_name AS user_name,
        o.status,
        o.created_time
        FROM
        orders o
        JOIN
        user u
        ON
        o.user_id = u.user_id
        <where>
            <if test="order_id != null and order_id!=''">
                o.order_id = #{order_id}
            </if>
            <if test="user_name != null and user_name!=''">
                AND u.user_name LIKE CONCAT('%', #{user_name}, '%')
            </if>
            <if test="status != null and status!=''">
                AND o.status = #{status}
            </if>
        </where>
    </select>

    <select id="getUserOrdersByStatus">
        select order_id,total_price,order_uuid from orders where user_id = #{user_id} and status = #{status}
    </select>

    <insert id="addOrder">
        insert into orders (user_id,total_price,status,created_time,order_uuid) values
        (#{user_id},#{total_price},#{status},#{created_time},#{order_uuid})
    </insert>
</mapper>