<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.mores.ufresh.DAO.UserDao">

    <resultMap id="userResultMap" type="top.mores.ufresh.POJO.User">
        <id column="user_id" property="user_id"/>
        <result column="user_name" property="user_name"/>
        <result column="password" property="password"/>
        <result column="enabled" property="enabled"/>
        <result column="admin_enabled" property="admin_enabled"/>
        <result column="address" property="address"/>
        <result column="register_time" property="register_time"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="avatar_url" property="avatar_url"/>
    </resultMap>

    <select id="getUserPassword" resultType="java.lang.String">
        select password from user where user_name = #{userName}
    </select>

    <insert id="addUser">
        insert into user (user_name, password, register_time, email)
        values (#{user_name}, #{password}, #{register_time}, #{email})
    </insert>

    <select id="checkUser" resultType="java.lang.String">
        select user_name from user where user_name = #{userName}
    </select>

    <select id="getUserID" resultType="java.lang.Integer">
        select user_id from user where user_name = #{userName}
    </select>

    <select id="returnUserData" resultMap="userResultMap">
        select user_name,password,address,email,phone,register_time,address,phone,avatar_url from user where user_id = #{userID}
    </select>

    <update id="saveUserData">
        UPDATE user
        SET user_name = #{user_name}, email = #{email}, password = #{password}
        WHERE user_id = #{user_id}
    </update>

    <update id="saveUserAvatar">
        update user set avatar_url= #{avatar_url} where user_id = #{user_id}
    </update>

    <update id="saveShipping">
        update user set address=#{address},phone=#{phone} where user_id=#{user_id}
    </update>

    <select id="checkRole" resultType="java.lang.Integer">
        select admin_enabled from user where user_name = #{user_name}
    </select>

    <select id="fetchUsers" resultMap="userResultMap">
        select user_id,user_name,password,address,email,phone,register_time,admin_enabled from user
    </select>

    <select id="selectUser" resultMap="userResultMap">
        select user_id, user_name, password, address, email, phone, register_time, admin_enabled
        from user
        <where>
            <if test="user_name!=null and user_name!=''">
                user_name like CONCAT('%', #{user_name}, '%')
            </if>
            <if test="email!=null and email!=''">
                and email = #{email}
            </if>
            <if test="phone!=null and phone!=''">
                and phone = #{phone}
            </if>
            <if test="register_time!=null">
                and register_time = #{register_time}
            </if>
        </where>
    </select>

    <update id="saveEditUserData">
        update user
        <set>
            <if test="user_name != null">user_name = #{user_name},</if>
            <if test="email != null">email = #{email},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="admin_enabled != null">admin_enabled = #{admin_enabled},</if>
        </set>
        where user_id = #{user_id}
    </update>

    <select id="syncAvatar">
        select avatar_url from user where user_id = #{user_id}
    </select>
</mapper>
